---
const { language } = Astro.params;
import type { BlogPost } from "../contentful";
const { post } = Astro.props;
const blogPost: BlogPost = post;
const asset = blogPost.image;

// //images.ctfassets.net/07l1mol2rddh/6zxVexRTKGvUWBbaSjHiow/93fb115fd3979ff079d74309921db531/shutterstock_2147478935.jpg?fm=webp
let contentfulUrl;

try {
  contentfulUrl = asset?.fields?.file?.url
    ? new URL(`https:${asset?.fields?.file?.url as string}`)
    : null;
} catch (e) {
  console.error(e);
}

let imageUrl: string;
let avifImageUrl: string | undefined;
let webpImageUrl: string | undefined;
let jpegImageUrl: string | undefined;

if (asset?.fields?.file && contentfulUrl) {
  const parts = contentfulUrl.pathname.split("/");
  if (parts?.length !== 5) {
    console.error("Invalid Contentful URL");
    imageUrl = "https://via.placeholder.com/300x200";
  } else {
    const uniqueId = parts[3];
    imageUrl = `/cms/${asset.sys.id}/${uniqueId}/${asset.fields.file.fileName}?format=webp&width=300&height=200`;
    webpImageUrl = `/cms/${asset.sys.id}/${uniqueId}/${asset.fields.file.fileName}?format=webp&width=300&height=200`;
    avifImageUrl = `/cms/${asset.sys.id}/${uniqueId}/${asset.fields.file.fileName}?format=avif&width=300&height=200`;
    jpegImageUrl = `/cms/${asset.sys.id}/${uniqueId}/${asset.fields.file.fileName}?format=jpeg&width=300&height=200`;
  }
} else {
  imageUrl = "https://via.placeholder.com/300x200";
}
---

<style lang="scss">
  .blog-card {
    color: black;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;

    width: 300px;
    margin-left: 1rem;
    margin-right: 1rem;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
    }
  }

  .blog-card-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .blog-card-content {
    padding: 1rem;

    h3 {
      margin-top: 0;
    }
  }
</style>
<a
  href=`/${language}/blog/${blogPost?.category?.fields?.slug ?? "uncategorized"}/${blogPost.slug}`
  class="blog-card"
>
  <picture class="blog-card-image">
    {avifImageUrl && <source srcset={avifImageUrl} type="image/avif" />}
    {webpImageUrl && <source srcset={webpImageUrl} type="image/webp" />}
    {jpegImageUrl && <source srcset={jpegImageUrl} type="image/jpeg" />}
    <img
      class="blog-card-image"
      src={imageUrl}
      width="300"
      height="200"
      alt={(asset?.fields?.title as string) ?? "Placeholder"}
    />
  </picture>
  <div class="blog-card-content">
    <div>Ihr Leitfaden</div>
    <h3>{blogPost.title}</h3>
    <p>
      {
        blogPost.metaDescription?.length > 20
          ? blogPost.metaDescription.substring(0, 20) + "..."
          : blogPost.metaDescription
      }
    </p>
    <div class="blog-card-footer">
      {blogPost?.category?.fields.displayName}
    </div>
  </div>
</a>
