---
import { PageHeader } from "./PageHeader/PageHeader";
import { Navigation } from "./Navigation/Navigation";
import { Button } from "./Button/Button";
import { ThemeToggle } from "./ThemeToggle/ThemeToggle";
import { NavigationLink } from "./NavigationLink/NavigationLink";
import { useTranslations } from "../i18n";

const { language } = Astro.params;
const currentLanguage = language === "de" ? "de" : "en";
const t = useTranslations(currentLanguage);
---

<PageHeader
  language={language as string}
  transition:name="header"
  transition:animate="morph"
>
  <img
    slot="branding"
    width="119"
    height="39"
    src="/wordmark.svg"
    alt="Lindner IT Branding"
  />
  <Navigation>
    <NavigationLink
      title={t("nav.home") as string}
      href={`/${currentLanguage}/`}
      current={true}
    />
    <NavigationLink
      title={t("nav.webDesign") as string}
      href={`/${currentLanguage}/web-design/`}
      current={false}
    />
    <NavigationLink
      title={t("nav.softwareDevelopment") as string}
      href={`/${currentLanguage}/software-development/`}
      current={false}
    />
    <NavigationLink
      title={t("nav.blog") as string}
      href={`/${currentLanguage}/blog/`}
      current={false}
    />
    <NavigationLink
      title={t("nav.aboutUs") as string}
      href={`/${currentLanguage}/about-us/`}
      current={false}
    />
  </Navigation>
  <Fragment slot="buttons">
    <a href="mailto:info@lindnerit.io"
      ><Button variant="primary">{t("nav.contact") as string}</Button></a
    >
    <ThemeToggle client:load />
  </Fragment>
</PageHeader>
