---
//import { getStaticPaths } from "../../paramHelper";
//export { getStaticPaths };
export const prerender = false;

import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import Heading from "../../components/Heading.astro";
import { Button } from "../../components/Button/Button";
import FeatureContainer from "../../components/FeatureContainer.astro";
import BlogSection from "../../components/BlogSection.astro";
import HookSection from "../../components/HookSection.astro";


//import { Image } from "astro:assets";

import aboutUsImage from "../../assets/communication.webp";
import { Picture } from 'astro:assets';

import Footer from "../../components/Footer.astro";
import { useTranslations } from "../../i18n";
import { MetaBuilder } from "../../meta";

const { language } = Astro.params;
const currentLanguage = language === "de" ? "de" : "en";
const t = useTranslations(currentLanguage);

const metaBuilder = new MetaBuilder();
metaBuilder.title(t("index.meta.title") as string);
metaBuilder.description(
  t("index.meta.description") as string,
  t("index.meta.description") as string,
  t("index.meta.openGraphDescription") as string,
  t("index.meta.twitterDescription") as string
);
metaBuilder.keywords(t("index.meta.keywords") as unknown as string[]);
const meta = metaBuilder.create();
---


<BaseLayout {meta}>
  <section id="above-the-fold">
    <Header />
    <Hero />
  </section>
  <article class="content">
    <section id="about-us">
      <div>
        <Heading>
          <div slot="description">{t("index.aboutus.titleDescription")}</div>
          {t("index.aboutus.title")}
        </Heading>
        <p>
          {t("index.aboutus.description")}
        </p>
        <a href={`/${currentLanguage}/about-us/`} rel="prefetch"
          ><Button variant="primary" outline>
            {t("index.aboutus.button") as string}
          </Button></a
        >
      </div>
      {/*<Image class="about-us-image" src={aboutUsImage} alt="About us" />*/}
      {/*<picture class="about-us-image">
        <source srcset="/communication.avif" type="image/avif" />
        <source srcset="/communication.jxl" type="image/jxl" />
        <source srcset="/communication.webp" type="image/webp" />
        <img
          class="about-us-image"
          src="/communication.webp"
          alt="About us"
          width="3284"
          height="2916"
          loading="lazy"
          decoding="async"
        />
      </picture>*/}
      <Picture 
        class="about-us-image"
        pictureAttributes={{class: "about-us-image"}} 
        src={aboutUsImage} 
        formats={["avif", "webp"]}
        alt="About us" 
        loading="lazy" 
        decoding="async"
      />
    </section>
    <section id="your-partner">
      <Heading>
        <div slot="description">{t("index.yourpartner.titleDescription")}</div>
        {t("index.yourpartner.title")}
      </Heading>
      <div class="feature-collection">
        <FeatureContainer
          mode="small"
          class="feature-container"
          variant="tertiary"
        >
          <span slot="title">{t("index.yourpartner.feature.gdpr.title")}</span>
          <span>{t("index.yourpartner.feature.gdpr.description")}</span>
          <a href={`/${currentLanguage}/web-design/`} slot="link" data-astro-prefetch="hover"
            >{t("index.yourpartner.feature.gdpr.link")}</a
          >
        </FeatureContainer>
        <FeatureContainer
          mode="large"
          class="feature-container"
          variant="primary"
        >
          <span slot="title"
            >{t("index.yourpartner.feature.performance.title")}</span
          >
          <span>{t("index.yourpartner.feature.performance.description")}</span>
          <a href={`/${currentLanguage}/web-design/`} slot="link" data-astro-prefetch="hover"
            >{t("index.yourpartner.feature.performance.link")}</a
          >
        </FeatureContainer>
        <FeatureContainer
          mode="large"
          class="feature-container"
          variant="primary"
        >
          <span slot="title"
            >{t("index.yourpartner.feature.perfectMatch.title")}</span
          >
          <span>{t("index.yourpartner.feature.perfectMatch.description")}</span>
          <a href={`/${currentLanguage}/web-design/`} slot="link" data-astro-prefetch="hover"
            >{t("index.yourpartner.feature.perfectMatch.link")}</a
          >
        </FeatureContainer>
        <FeatureContainer
          mode="small"
          class="feature-container"
          variant="secondary"
        >
          <span slot="title"
            >{t("index.yourpartner.feature.monitoring.title")}</span
          >
          <span>{t("index.yourpartner.feature.monitoring.description")}</span>
          <a href={`/${currentLanguage}/web-design/`} rel="prefetch" slot="link" data-astro-prefetch="hover"
            >{t("index.yourpartner.feature.monitoring.link")}</a
          >
        </FeatureContainer>
      </div>
    </section>
    {
      /* 
		<div>
			<h2>Unsere Partner & Kunden</h2>
			<PartnerSlider />
		</div>
	*/
    }
    <section id="blog">
      <BlogSection />
    </section>
    <section id="hook">
      <HookSection />
    </section>
  </article>
  <Footer />
</BaseLayout>
<style lang="scss">
  #above-the-fold {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .content {
    padding: 1rem 6rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 3rem;
    }
  }

  #about-us {
    margin: 6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;

    & > div {
      flex: 1 1 0;
    }

    :global(.about-us-image) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50%;
      height: auto;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0;
      :global(.about-us-image) {
        display: none;
      }
    }
  }

  #your-partner {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;

    a,
    a:link {
      color: black;
    }
  }

  .feature-collection {
    display: flex;
    flex-wrap: wrap;
  }
</style>