---
//import { getStaticPaths } from "../../paramHelper";
//export { getStaticPaths };
export const prerender = false;

import Header from "../../components/Header.astro";
//import { MetaBuilder } from "../../meta";
import Heading from "../../components/Heading.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Footer from "../../components/Footer.astro";
/*
import type { ContentPageSkeleton, ContentPage } from "../../contentful";
import { contentfulClient } from "../../contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Heading from "../../components/Heading.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

const { language } = Astro.params;

const entry = await contentfulClient.getEntry<ContentPageSkeleton>(
  "ZjrHw6h3LAy9feuwbVgGa",
  {
    locale: language == "de" ? "de" : "en-US",
  }
);
const contentPage: ContentPage = entry.fields;
const htmlContent = documentToHtmlString(contentPage.content);

const metaBuilder = new MetaBuilder();

metaBuilder.title(`Lindner IT \u002d ${contentPage.title}`);
metaBuilder.description(
  contentPage.metaDescription,
  contentPage.metaDescription,
  contentPage.openGraphDescription
);
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Lindner IT",
      item: `https://lindnerit.io/${language}/`,
    },
    {
      "@type": "ListItem",
      position: 2,
      name: contentPage.title,
      item: `https://lindnerit.io/${language}/privacy-policy`,
    },
  ],
});

const meta = metaBuilder.create();*/
---

<style lang="scss">
  article {
    padding: 1rem 6rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 3rem;
    }
  }
</style>
<!--<BaseLayout {meta}>-->
<BaseLayout>
  <main>
    <Header />
    <article>
      <!--<Heading headingType="h1">{contentPage.title}</Heading>
      <div set:html={htmlContent} />-->
      <Heading headingType="h1">Privacy Policy</Heading>
      <div></div>
    </article>
    <Footer />
  </main>
</BaseLayout>
