---
export { getStaticPaths } from "../static-language-paths";
import {
  Breadcrumbs,
  BreadcrumbLink,
} from "../../components/Breadcrumbs/Breadcrumbs";
import { Button } from "../../components/Button/Button";
import ContentPage from "../../components/ContentPage.astro";
import { useTranslations } from "../../i18n/utils";
import { MetaBuilder } from "../../meta";

const { language } = Astro.params;
const t = useTranslations((language ?? "en") as "en" | "de");

const metaBuilder = new MetaBuilder();
metaBuilder.title(t("software-development.title"));
metaBuilder.description(t("software-development.description"));
metaBuilder.keywords(t("software-development.keywords"));
metaBuilder.revisedAt(new Date());
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: t("software-development.name"),
      item: `https://lindnerit.io/${language}/software-development`,
    },
  ],
});

const links: BreadcrumbLink[] = [
  {
    href: `/${language}/`,
    title: "Lindner IT",
  },
  {
    href: `/${language}/software-development`,
    title: t("software-development.name"),
    isCurrent: true,
  },
];
const meta = metaBuilder.create();
---

<style lang="scss">
  li {
    list-style-position: inside;
  }

  section {
    margin-top: 1rem;
  }

  .contact-button {
    margin-top: 1rem;
  }

  #c {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    a {
      text-decoration: none;
    }
  }

  .links {
    a {
      color: gray;
      font-size: 0.8rem;
    }
  }

  .sub {
    color: rgb(117, 117, 117);
    font-size: 0.8rem;
    font-weight: 300;
  }
</style>
<ContentPage {meta}>
  <Breadcrumbs links={links} />
  <h1>{t("software-development.h1")}</h1>
  <p>{t("software-development.h1.subheading")}</p>

  <section id="c">
    <div class="buttons">
      <a title={t("software-development.cta")} href="mailto:info@lindnerit.io">
        <Button title={t("software-development.cta")} variant="primary">
          {t("software-development.cta")}
        </Button>
      </a>
      <a title={t("software-development.call")} href="tel:+4979315636154">
        <Button title={t("software-development.call")} variant="secondary">
          <div>{t("software-development.call")}</div>
          <div class="sub">{t("software-development.call.subheading")}</div>
        </Button>
      </a>
    </div>
    <div class="links">
      <div>
        <a
          href="https://www.designrush.com/agency/profile/lindner-it-ug-haftungsbeschraenkt"
          target="_blank">Lindner IT on DesignRush</a
        >
      </div>
    </div>
  </section>
</ContentPage>
